.resultsList {
  width: 100%;
}

.resultRow {
  padding: 8px 16px;
  cursor: pointer;
  
  &:hover {
    background-color: var(--neutrals-color-neutral-1);
  }
}

.resultContent {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--text-color-text-main);
  font-size: 14px;
}

.searchIcon {
  color: var(--text-color-text-subtle);
} 

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  .resultsList {
    background-color: #333;
  }

  .resultRow {
    &:hover {
      background-color: #555;  // Matches the active filter-row background in dark mode
    }
  }

  .resultContent {
    color: #fff;  // Light text for dark background
  }
}

.searchButtonContainer {
    padding-top: 6px;
}


.resultsList {
    width: 100%;
  }
  
  .resultRow {
    padding: 8px 16px;
    cursor: pointer;
    display: flex;
    justify-content: space-between; 
    align-items: center;

    &:hover {
      background-color: var(--neutrals-color-neutral-1);
    }
  }
  
  .resultContent {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--text-color-text-main);
    font-size: 14px;
  }
  
  .searchIcon {
    color: var(--text-color-text-subtle);
  }