.suggestionsList {
  width: 100%;
}

.suggestionRow {
  padding: 8px 16px;
  cursor: pointer;
  
  &:hover {
    background-color: var(--neutrals-color-neutral-1);
  }
}

.suggestionContent {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--text-color-text-main);
  font-size: 14px;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  .suggestionsList {
    background-color: #333;
  }

  .suggestionRow {
    &:hover {
      background-color: #555;
    }
  }

  .suggestionContent {
    color: #fff;
  }
} 