.featurePill {
  width: 40px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 2px 8px;
  margin-right: 8px;
  line-height: 1.5;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  display: inline-block;
  // color: black !important;
  text-shadow: var(--text-shadow-for-bars, 
    0 0 1px white,
    0 0 1px white,
    0 0 1px white,
    0 0 1px white,
    0 0 1px white,
    0 0 1px white,
    0 0 4px white);
} 