.featureScatterContainer {
  position: relative;
  width: 100%;
  margin: 20px 0;
}

.scatterWrapper {
  position: relative;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
}

.tooltipArea {
  position: absolute;
  max-width: 300px;
  background-color: rgba(255, 255, 255, 0.95);
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  pointer-events: none;
}

.tooltipContent {
  font-size: 14px;
  
  p {
    margin: 5px 0;
  }
} 

.hoverInfo {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 4px 8px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  font-size: 14px;
  width: fit-content;
}

.featureIdPill {
  color: black;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 2px 8px;
  margin-right: 8px;
  font-size: 12px;
  white-space: nowrap;
  width: 35px;
  min-width: 35px;
  text-align: center;
  text-shadow: 0 0 1px white,
  0 0 1px white,
  0 0 1px white,
  0 0 1px white,
  0 0 1px white,
  0 0 1px white,
  0 0 4px white;
}

.featureLabel {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}