.steeringPlayground {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  
  .headerSection {
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
    
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  
  .column {
    flex: 1;
    min-width: 0;  // Allows flex children to shrink below content size
    
    h3 {
      margin-top: 0;
      margin-bottom: 1rem;
    }
    
    h4 {
      margin-top: 1.5rem;
      margin-bottom: 0.5rem; 
    }
  }
  
  .fullWidthSection {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    max-width: 100vw;
    width: 100vw;
    padding: 1rem;
    // background-color: var(--color-neutral-1);
    
    @media (max-width: 767px) {
      padding: 0.5rem;
    }
  }
  
  .fullWidthInner {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .featureAndResultsGrid {
    display: flex;
    gap: 2rem;
    
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  
  .featureColumn {
    flex: 1;
    min-width: 0;

    @media (max-width: 768px) {
      h4 {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 1.5rem;
      }
    }
  }
  .featureRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }
  
  .resultsContainer {
    // height: 350px; 
    // overflow-y: auto;
    // border: 1px solid #eee;
    // border-radius: 4px;
    padding: 8px;
    margin-bottom: 16px;
    background-color: var(--color-neutral-0);
    
    @media (max-width: 768px) {
      height: 300px;
    }
  }
} 

.loadingOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8); // Semi-transparent background
  height: 250px;
  // position: absolute;
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;
  z-index: 10; // Ensure it overlays other content
}

.loadingContainer {
  text-align: center;
}

.loadingSpinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #09f;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  animation: spin 1s linear infinite;
}
.loadingSpinnerInline {
  display: inline-block;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #09f;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}